<div>

  <form [formGroup]="form" (ngSubmit)="submit()">




<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-2"><p name="feedback" class="card-title">Encuesta</p>
    </div>   
  </div>
  <div class="row">
    <div class="col-4"> <label class="form-label">Email: </label></div>
    <div class="col-4"><input
      required
      type="text"
      formControlName="email"
      class="form-control"
    /></div>   
  </div>
  <div class="row">
    <div class="col-4"> <label class="form-label">Genero: </label></div>
    <div class="col-4"><select formControlName="generos" class="form-control" >
      <option value="" disabled selected>Seleccione Genero</option>
      <option>Rock</option>
      <option>Pop</option>
      <option>Jazz</option>
      <option>Clasica</option>
      <option>Blues</option>
      <option>Gospel</option>
      <option>Soul</option>
      <option>Ska</option>
      <option>Reggae</option>
    </select></div>   
  </div>
  <div class="row">
    <div class="col-4"><button class="btn btn-primary">Enviar</button>
    </div>   
  </div>
  <div class="row justify-content-md-center">
    <div class="col-2"><p name="feedback">{{ feedback }}</p>
    </div>   
  </div>
</div>

</form>
<div class="container">
  <table class="table" *ngIf="showTable">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Genero</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of surveys">
        <td>
          {{ survey.email }}
        </td>
        <td>{{ survey.genero }}</td>
      </tr>
    </tbody>
  </table>
</div>
